<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezzy.projectmanagement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectManagement"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".ui.activities.organization.OrgDetailsActivity"
            android:parentActivityName=".ui.activities.organization.OrganizationsActivity" />
        <activity
            android:name=".ui.activities.organization.NewOrganizationActivity"
            android:parentActivityName=".ui.activities.project.ProjectActivity" />
        <activity
            android:name=".ui.activities.organization.OrganizationsActivity"
            android:parentActivityName=".ui.activities.project.ProjectActivity" />
        <activity
            android:name=".ui.activities.newproject.NewProjectActivity"
            android:parentActivityName=".ui.activities.project.ProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.project.ProjectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>